@media (min-width: 1441px) {
  html {
    font-size: 1.05rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 0.9rem;
  }

  .fork-me-ribbon {
    display: none;
  }

  .btn.header {
    width: 95%;
    margin: .5em 0;

    & + & {
      margin-bottom: 2.5em;
    }
  }

  .tldr .pros, .tldr .cons {
    float: none !important;
    width: 100% !important;
  }
}