@import "normalize";
@import "prism";
@import "media-queries";

$dark: #050505;
$light: #F7F7F7;
$highlight: hsl(272, 90, 45);

*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

html {
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

a:hover {
  text-decoration: none;
}

header {
  background: $highlight;
  color: $dark;
  text-align: center;

  .headline {
    font-size: 4em;
    margin: 0;
    padding: 1em 0 1em;
  }

  .tagline {
    font-size: 2em;
    margin: 0;
    padding: 0 0 2em;
  }

  .btn {
    text-decoration: none;
    color: $dark;
    padding: 0.6em;
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid $dark;
    border-radius: 4px;
    margin: 0 1em 3em;
    display: inline-block;

    &:hover {
      background: $dark;
      color: $highlight;
    }
  }
}

main {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;

  section > h2 {
    border-bottom: 1px solid $dark;
  }

  > * + * {
    margin-top: 3em;
  }

  ol, ul {
    padding-left: 1em;
    margin-bottom: 0;
  }

  li + li {
    margin-top: .3em;
  }

  code {
    background: #f5f2f0;
    padding: .2em;
    border-radius: 2px;
  }

  a {
    color: $dark;
  }

  // Match external links
  // Credit: https://davidwalsh.name/external-links-css
  a[href*="//"]:not([href*="pinjasaur.github.io/templater.js/"]) {
    position: relative;

    &:after {
      display: none;
      content: attr(href);
      position: absolute;
      left: 0;
      bottom: 100%;
      padding: .1em .3em;
      background: rgba($highlight, .95);
      color: $light;
      border-radius: 2px;
      white-space: nowrap;
    }

    &:hover:after {
      display: block;
    }
  }
}

.tldr {
  .pros, .cons {
    width: 50%;
    float: left;

    > ul {
      list-style-type: none;

      > li:before {
        padding-right: .5em;
        font-weight: bold;
      }
    }
  }

  .pros li:before {
    content: "✓";
    color: #35A00B;
  }

  .cons li:before {
    content: "✘";
    color: #AD1313;
  }
}

footer {
  background: lighten($dark, 10%);
  color: $light;
  text-align: center;
  padding: 3em;

  a {
    color: $light;

    &:hover {
      color: darken($light, 30%);
    }
  }
}